.swiper-slide a:link {
	text-decoration: none !important;
}

.swiper-slide a:visited {
	text-decoration: none !important;
}

.swiper-slide a:hover {
	text-decoration: none !important;
}

.swiper-slide a:active {
	text-decoration: none !important;
}

.otherDocsContainer a:link {
	text-decoration: none !important;
}

.otherDocsContainer a:visited {
	text-decoration: none !important;
}

.otherDocsContainer a:hover {
	text-decoration: none !important;
}

.otherDocsContainer a:active {
	text-decoration: none !important;
}

.teamMemberCard img {
	border: 2px solid #22c55e;
}

.bodCard img {
	border: 2px solid #22c55e;
}

.dark-mode .whatYouNeedInnerContent .whatYouNeedImg.dark {
	display: block;
}

.dark-mode .whatYouNeedInnerContent .whatYouNeedImg.light {
	display: none;
}

.whatYouNeedInnerContent .whatYouNeedImg.dark {
	display: none;
}

.dark-mode .etcClassicContainer .etcClassicImg.dark {
	display: block;
}

.dark-mode .etcClassicContainer .etcClassicImg.light {
	display: none;
}

.etcClassicContainer .etcClassicImg.dark {
	display: none;
}

.dark-mode .moreDetailsContainer .aboutHistoryImg.dark {
	display: block;
}

.dark-mode .moreDetailsContainer .aboutHistoryImg.light {
	display: none;
}

.moreDetailsContainer .aboutHistoryImg.dark {
	display: none;
}

.dark-mode .etcLogoContainer .etcLogoImg.dark {
	display: block;
}

.dark-mode .etcLogoContainer .etcLogoImg.light {
	display: none;
}

.etcLogoContainer .etcLogoImg.dark {
	display: none;
}

@media screen and (max-width: 991px) and (min-width: 576px) {
	.etcLogoContainer {
		display: flex !important;
		justify-content: center !important;
	}
}

