.swiper-slide a:link {
	text-decoration: none !important;
}

.swiper-slide a:visited {
	text-decoration: none !important;
}

.swiper-slide a:hover {
	text-decoration: none !important;
}

.swiper-slide a:active {
	text-decoration: none !important;
}

.otherDocsContainer a:link {
	text-decoration: none !important;
}

.otherDocsContainer a:visited {
	text-decoration: none !important;
}

.otherDocsContainer a:hover {
	text-decoration: none !important;
}

.otherDocsContainer a:active {
	text-decoration: none !important;
}

.teamMemberCard img {
	border: 2px solid #22c55e;
}

.bodCard img {
	border: 2px solid #22c55e;
}

.dark-mode .whatYouNeedInnerContent .whatYouNeedImg.dark {
	display: block;
}

.dark-mode .whatYouNeedInnerContent .whatYouNeedImg.light {
	display: none;
}

.whatYouNeedInnerContent .whatYouNeedImg.dark {
	display: none;
}

.dark-mode .etcClassicContainer .etcClassicImg.dark {
	display: block;
}

.dark-mode .etcClassicContainer .etcClassicImg.light {
	display: none;
}

.etcClassicContainer .etcClassicImg.dark {
	display: none;
}

.dark-mode .moreDetailsContainer .aboutHistoryImg.dark {
	display: block;
}

.dark-mode .moreDetailsContainer .aboutHistoryImg.light {
	display: none;
}

.moreDetailsContainer .aboutHistoryImg.dark {
	display: none;
}

.dark-mode .etcLogoContainer .etcLogoImg.dark {
	display: block;
}

.dark-mode .etcLogoContainer .etcLogoImg.light {
	display: none;
}

.etcLogoContainer .etcLogoImg.dark {
	display: none;
}

@media screen and (max-width: 991px) and (min-width: 576px) {
	.etcLogoContainer {
		display: flex !important;
		justify-content: center !important;
	}
}

/* news list section starts here */
.newsListNavSection {
	background: url(@/assets/images/news-list-bg.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	height: 467px;
}

.newsListContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.newsListContainer .newsListHeroContent {
	width: 100%;
	margin-top: 137px;
}

.newsListHeroContent h1 {
	font-family: var(--Noto_sans);
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 56px;
	color: #ffffff;
	text-align: center;
}

.newsListPagination {
	display: flex;
	padding-bottom: 60px;
	justify-content: flex-end;
}

/* dark mode css starts here */
.dark-mode .newsListSection {
	background: var(--secondaryDark);
}

.dark-mode .newsListSection .newsBtns .seeAllNews {
	color: var(--primaryDark);
}

.dark-mode .newsListSection .newsHeading h2 {
	color: #ffffff;
}

.dark-mode .newsListSection .newsSwiperBtns {
	background: var(--primaryDark);
}

.dark-mode .newsListSection .swiper-pagination-progressbar {
	background: #585d66;
}

.dark-mode .newsListSection .swiperSlideBtn {
	border-color: #ffffff;
}

.dark-mode .newsListSection .swiperSlideBtn img {
	filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
		hue-rotate(0deg);
}

.newsListSection .newsBtns {
	display: flex;
	justify-content: flex-end;
}

.newsListSection .newsBtns .seeAllNews {
	background: #22c55e;
	box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
	border-radius: 6px;
	border: none;
	width: 170px;
	height: 56px;
	font-family: var(--Noto_sans);
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	color: #f0fdf4;
}

.newsListSection .newsHeading {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.newsListSection .newsHeading h2 {
	font-family: var(--Noto_sans);
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	letter-spacing: 0.5px;
	color: #1b1b1b;
}

.newsListSection .newsSwiperBtns {
	width: 80px;
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 52px;
	right: 0;
	z-index: 1111;
}

/* news section starts here */

.newsListSection .swiper {
	width: 100%;
	height: 100%;
	padding: 40px 0px;
}

.newsListSection .swiper-pagination-progressbar {
	top: 114px;
	background: #d6d6d6;
}

.newsListSection .swiper-slide .newsContent {
	padding: 30px 0px 0px;
}

.newsListSection .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.newsListSection .swiperSlideBtn {
	width: 30px;
	height: 30px;
	padding: 0 !important;
	position: static !important;
	margin: 0 !important;
	z-index: unset !important;
	border: 3px solid #1b1b1b;
	border-radius: 50%;
}

.newsListSection .swiperSlideBtn img {
	width: 10px;
	height: auto;
}

.newsListSection .swiperSlideBtn::after {
	content: unset !important;
	display: none !important;
}

/* media queries */
@media screen and (max-width: 991px) {
	.newsListNavSection {
		min-height: 300px;
		height: auto;
		padding-bottom: 60px;
	}

	.newsListContainer .newsListHeroContent {
		margin-top: 40px;
	}

	.newsListPagination {
		padding-bottom: 60px;
	}
}

@media screen and (max-width: 767px) {
	.newsListNavSection {
		min-height: auto;
		height: auto;
		padding-bottom: 60px;
	}

	.newsListHeroContent h1 {
		font-size: 50px;
	}

	.newsListPagination {
		padding-bottom: 50px;
	}
}

@media screen and (max-width: 576px) {
	.newsListHeroContent h1 {
		font-size: 40px;
	}

	.newsListPagination {
		padding-bottom: 50px;
	}

	.newsListSection .newsBtns .seeAllNews {
		margin-right: 0px;
		height: 50px;
		font-size: 16px;
	}

	.newsListSection .swiper {
		padding: 30px 0px;
	}

	.newsListSection .newsSwiperBtns {
		top: 155px;
		left: 0px;
		margin: 0 auto;
		right: 0px;
	}

	.newsListSection .swiper-slide .newsContent {
		padding: 10px 0px 0px;
	}

	.newsListSection .newsHeading h2 {
		font-size: 32px;
		margin-bottom: 20px;
	}
}

/* 
News Detail start here
*/

.newsDetailNavSection {
	height: 100px;
	background-color: black;
}

.newsTags {
	cursor: default !important;
	margin-right: 10px;
}

.dark-mode .newsDetailContainer {
	color: white;
}

@media screen and (max-width: 576px) {
	.newsDetailNavSection {
		height: 75px;
		background-color: black;
	}
}

