.whatIsEtcNavSection {
	background: url(@/assets/images/what-is-etc-bg.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	height: 467px;
}

.whatIsEtcContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.whatIsEtcContainer .whatIsEtcHeroContent {
	width: 100%;
	margin-top: 137px;
}

.whatIsEtcHeroContent h1 {
	font-family: var(--Noto_sans);
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 56px;
	color: #ffffff;
	text-align: center;
}

/* what is etc paragraphs section starts here */
.whatIsEtcParaSection {
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(247, 248, 249, 0) 0%,
			#f7f8f9 100%
		),
		url(@/assets/images/para-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 72px 0px;
}

.whatIsEtcParaSection .whatIsEtcParaContainer {
	max-width: 1074px;
	width: 100%;
	padding: 0px 32px;
	margin: 0 auto;
}

.whatIsEtcParaContainer p {
	max-width: 470px;
	width: 100%;
	font-family: var(--Noto_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 0px;
	color: #000000;
}

/* what is etc paragraphs section ends here */

/* etc learn more section starts here */
.etcLearnMoreSection {
	background: radial-gradient(
			50% 50% at 50% 50%,
			rgba(247, 248, 249, 0) 0%,
			#f7f8f9 100%
		),
		url(@/assets/images/para-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 80px 0px;
}

.etcLearnMoreSection .etcLearnMoreContainer {
	padding: 0px 32px;
}

.etcLearnMoreContainer h2 {
	font-family: var(--Noto_sans);
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #000000;
	margin-bottom: 44px;
}

.etcLearnMoreContainer p {
	font-family: var(--Roboto);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #000000;
}

.etcLearnMoreContainer p a {
	color: #22c55e;
	font-weight: 500;
	text-decoration: none;
}
/* etc learn more section ends here */

/* etc classic section starts here */

.etcClassicSection {
	background: #ffffff;
	padding: 88px 0px 80px;
}

.etcClassicSection .etcClassicContainer {
	max-width: 1074px;
	width: 100%;
	padding: 0px 32px;
	margin: 0 auto;
}

.etcClassicContainer img {
	max-width: 460px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 24px;
}

.etcClassicContainer p {
	max-width: 470px;
	width: 100%;
	font-family: var(--Noto_sans);
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 0px;
	color: #000000;
}

/* etc classic section ends here */

.dark-mode .whatIsEtcParaSection {
	background: #070f1f;
}

.dark-mode .whatIsEtcParaContainer p {
	color: #cccccc;
}

.dark-mode .etcClassicSection {
	background: #111825;
}

.dark-mode .etcClassicContainer p {
	color: #ffffff;
}

.dark-mode .etcLearnMoreSection {
	background: #070f1f;
}

.dark-mode .etcLearnMoreContainer h2 {
	color: #ffffff;
}

.dark-mode .etcLearnMoreContainer p {
	color: #ffffff;
}

.dark-mode .etcLearnMoreContainer p a {
	color: #22c55e;
}

@media screen and (max-width: 991px) {
	.whatIsEtcNavSection {
		height: 300px;
	}

	.whatIsEtcContainer .whatIsEtcHeroContent {
		margin-top: 40px;
	}

	.whatIsEtcParaContainer p {
		max-width: 100%;
	}

	.etcClassicContainer img {
		display: block;
		height: auto;
		margin: 0 auto 40px;
	}

	.etcClassicContainer p {
		max-width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.whatIsEtcNavSection {
		height: auto;
		padding-bottom: 60px;
	}

	.whatIsEtcHeroContent h1 {
		font-size: 50px;
	}
}

@media screen and (max-width: 576px) {
	.whatIsEtcHeroContent h1 {
		font-size: 40px;
	}

	.whatIsEtcParaContainer p {
		text-align: center;
		font-size: 16px;
	}

	.etcClassicContainer p {
		text-align: center;
		font-size: 16px;
	}

	.etcLearnMoreContainer h2 {
		text-align: center;
		font-size: 30px;
		margin-bottom: 20px;
	}
}
